[remote "MorvanZhou"]
    url = https://github.com/MorvanZhou/PyTorch-Tutorial.git
    fetch = +refs/heads/*:refs/remotes/MorvanZhou/*
[remote "github"]
    url = git@github.com:huangyingw/PyTorch-Tutorial.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = MorvanZhou
    branch = master
